
.container {
    display: grid;
    grid-template-columns: 1280/2px 1fr;
    grid-template-rows: 1280/2px 1fr;
    grid-template-areas: "h n" "a f";
    height: 300px;
  }
  
  
  * {box-sizing: border-box}
  body {
      margin: 20px;
      background: #fff;
      font-family: "Century Gothic", helvetica, arial, sans-serif;
      font-size: 1.2em;
  }
  