:root {
    --dimension-healthbar-height: 20px;
    --dimension-healthbar-width: 80px;
}


div#game {
    height: 720px;
    width: 1280px;
    background-size: cover;
}

.container {
    display: grid;
    grid-template-columns: 1280/2px 1fr;
    grid-template-rows: 1280/2px 1fr;
    grid-template-areas: "h n" "a f";
    height: 150px;
    width: 1280px;
  }

.hb-heros-sprite {
    height: 140px;
    width: 140px;
}

.ennemy1-sprite {
    height: 224px;
    width: 263px;
}

.healthbar-controler {
    height: var(--dimension-healthbar-height);
    width: var(--dimension-healthbar-width);
    background-color: gray;
    border-width: 5px;
    border-color: black;
    border-style: inset;
    position: absolute;
    /* top: 50px;
    transform: translateX(-25%); */
}

.healthbar-value {
    height: var(--dimension-healthbar-height);
    width: calc(var(--dimension-healthbar-width));
    background-color: lime;
}

p#speech-bubble {
    /* width: 100%;
    height: 100%;
    object-fit: cover; */
    position: absolute; 
    background-image: url("sprite/bulle.png");
    background-size: 100% 110%;
    line-height: 40px;
}